@import "bootstrap-icons/font/bootstrap-icons.css";

/* Write your global styles here, in PostCSS syntax */
@tailwind base;
/* Write your global styles here, in PostCSS syntax */
@tailwind components;
@tailwind utilities;

/*place global styles here */
html,
body {
  @apply h-full overflow-hidden bg-slate-50;
}
